body{
 background-color: bisque;   
}
h1 {
    border-bottom-style: dotted;
    color: purple;
}
h2 {
    font-style: oblique 25deg;
    border-bottom-style: soild;
}
h3 {
    border-bottom-style: groove;
    font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(to right,white, #ffefaf);
	margin: 5px;
}

div#zentai {
	display: grid;
	flex-direction: row;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 350px;
	grid-gap: 20px;
	width: 1024px;
	padding: 5px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}